@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- PAGE SIDEBAR
       ================================================== -->
<!-- PAGE SIDEBAR
    ================================================== -->
<div class="page-sidebar">
    <a class="logo-box" asp-controller="Projetos" asp-action="Index">
        <span>Sisat</span>
       @*  <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"> *@</i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu mt-5 border-bottom">
                <li>
                    <a asp-controller="Forum" asp-action="Index">
                        <i class="fab fa-forumbee"></i><span style="margin-left:15px;">Duvidas?</span>
                    </a>
                </li>
            </ul>
            <ul class="accordion-menu">
                <li>
                    <a asp-controller="Projetos" asp-action="Details">
                        <i class="menu-icon icon-inbox"></i><span>Pai</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Projetos" asp-action="Details">
                        <i class="menu-icon icon-inbox"></i><span>Sitel</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Projetos" asp-action="Details">
                        <i class="menu-icon icon-inbox"></i><span>Passaport</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Abre e fecha formulário -->

